.container {
    background-color: #073b4c;
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-rows: 50px auto 50px 50px 50px auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c" "d" "e" "." "f";
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef476f;
    border: 2px solid #118ab2;
    color: white;
}

#item-1 {
    grid-area: a;
}

#item-2 {
    grid-area: b;
}

#item-3 {
    grid-area: c;
}

#item-4 {
    grid-area: d;
}

#item-5 {
    grid-area: e;
}

#item-6 {
    grid-area: f;
}

@media screen and (min-width: 576px) {
    .container {
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "a c c" "b c c" "b e d" "b e ." "f f f";
    }
}